.chat{
  width: 50%;
  min-height: 50vh;
  max-height: 50vh;
  overflow: scroll;
  border: 2px solid black;
  
  
 
}

.caja-chat{
  display: flex;
  
  flex-direction:column;
  margin-left: 35%;
  
}

.App{
  display: flex;
  justify-content:center;
  
}
